{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row push-content">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <br>
                <h2 class="logo-font mb-4">Your Wheelbarrow</h2>
                <p class="text-muted mb-5">Here are the contents of your wheelbarrow:</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "bag/checkout-buttons.html" %}
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/plant-image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/plant-info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: £{{ item.plant.price }}</p>
                                    <p><strong>Subtotal: </strong>£{{ item.plant.price | calc_subtotal:item.quantity }}</p>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th class="text-center" scope="col">Price</th>
                                    <th class="text-center" scope="col">Quantity</th>
                                    <th class="text-end" scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "bag/plant-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/plant-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 text-center">£{{ item.plant.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 text-end">£{{ item.plant.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your wheelbarrow is empty.</p>
                    <a href="{% url 'plants' %}" class="btn btn-lg btn-outline-dark rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Foraging</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'plants/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}
