<form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="form update-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-dark btn-sm rounded-0 decrement-qty_{{ item.item_id }}" 
                    data-item_id="{{ item.item_id }}" >
                    <span>
                        <i class="fas fa-angle-double-down fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="text-center form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id}}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-dark btn-sm rounded-0 increment-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-angle-double-up fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link text-info terms"><small>Update</small></a>
<a class="remove-item text-danger float-end terms" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
