{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row push-content">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    <br class="small-screen-hide">
    <div class="row main-container">
        <div id="image-container" class="col-12 col-sm-8">
            <img class="img-fluid" src="{{ MEDIA_URL }}houseplants.jpg" alt="Assortment of houseplants">
            <div class="col-6 text-center">
                <a href="{% url 'plants' %}">
                    <p class="btn btn-outline-dark btn-xlarge pt-2">Shop now</p>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-4 flex-container">
            <!-- TODO: change 666 to become a variable { {free_delivery_threshold}} -->
            <div id="offers-block" class="text-center">
                <h2>Halloween Offer:</h2>
                <p>Free delivery on orders over £666!</p>
                <p class="text-muted"><small>*Offer avaliable until 05/11/22.</small></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 text-center">
            <a href="">
                <p class="btn btn-dark btn-lg pt-2">Register</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}