{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row push-content">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2 pt-2">
    <h2 class="logo-font">My Profile</h2>
    <p>Welcome to your profile page!</p>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Default Delivery Information</p>
            <form action="{% url 'profile' %}" class="mt-3" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark mt-2 rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p>Order History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
