{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row push-content">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="logo-font mb-4">All done!</h2>
            <p class="text-muted mb-5">Thank you for your purchase! Your order information is given below, a
                confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            <hr>
        </div>
    </div>

        <div class="container-fluid">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2">

                    <div class="row">
                        <div class="col">
                            <h2>Order Information</h2>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-12 small">
                            <p class="mb-0 ">Order Number: {{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="fw-bold">Order Details</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 text-black ms-md-5">{{ item.product.name }}</p>
                        </div>
                        <div class="col-8">
                            <p class="mb-0">{{ item.quantity }} @ £{{item.product.price }} each.</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="fw-bold">Delivery Address</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Full Name:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Address Line 1:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Address Line 2:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">County:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Town or City:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Postal Code:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Country:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Phone Number:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="fw-bold">Billing Info</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Order Total:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">£{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 ms-md-5">Delivery:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="small mb-0 fw-bold ms-md-5"><u>Grand Total:</u></p>
                        </div>
                        <div class="col-8 fw-bold text-md-right">
                            <p class="mb-0"><u>£{{ order.grand_total }}</u></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-lg btn-outline-dark rounded-1 mt-3 mb-3">
                <span class="icon">
                    <i class="fas fa-backward"></i>
                </span>
                <span class="text-uppercase">Back to profile</span>
            </a>
        {% else %}
            <a href="{% url 'plants' %}" class="btn btn-lg btn-outline-dark rounded-1 mt-3 mb-3">
                <span class="icon">
                    <i class="fas fa-backward"></i>
                </span>
                <span class="text-uppercase">Back to shop</span>
            </a>
        {% endif %}
    </div>

    {% endblock %}