/* Google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

html {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fcffff;
    height: calc(100vh - 164px);
}

/* Header */

header {
    background-color: #abc798;
    display: block;
    
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Corben', cursive;
}

.main-logo-link {
    width: fit-content;
}

.push-content {
    height: 70px;
}

/* Footer */

.footer-background {
    background-color: #abc798;
}

.footer-text{
    color: black;
}

.footer-list a {
    display: inline-block;
    text-decoration: none;
}

.footer-list a:hover {
    font-size: 17px;
    color: #63372c;
    cursor: pointer;
}

.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0;
}

.icons ul {
    padding: 0;
}

.icons li {
    display: inline;
    padding: 10px;
}

.icons li i {
    color: black;
    font-size: 20px;
}

.icons li i:hover {
    color: #465c69;
}

.terms{
    cursor: pointer;
}

/* Home page */
.main-container {
    position: relative;
    justify-content: center;
}

#offers-block {
    padding-top:50%;
}

/* Media Queries */

/* Small screens bootstrap 5 */
@media(max-width:767px) {
    .small-screen-hide {
        display: none;
    }
}

/* Medium screens bootstrap 5 */
@media(max-width:991px) {
    .medium-screen-hide {
        display: none;
    }
}

/* Large screens bootstrap 5 */
@media(min-width:992px) {
    .large-screen-hide {
        display: none;
    }
}