/* Google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

.material-symbols-outlined{
    vertical-align: bottom;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* General */

html {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fcffff;
    height: calc(100vh - 164px);
}

#offers-block {
    padding-top:50%;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

a {
    outline: none !important;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Corben', cursive;
}

/* Header */

header {
    background-color: #abc798;
    display: block;
    
}

.main-logo-link {
    width: fit-content;
}

.push-content {
    height: 60px;
}

.cart-present {
    color: rgb(15, 48, 196);
}

.header-list-item:hover {
    color:#63372c;
}

/* Footer */

footer {
    position: fixed;
}

.footer-background {
    background-color: #abc798;
}

.footer-text{
    color: black;
}

.footer-list a {
    display: inline-block;
    text-decoration: none;
}

.footer-list a:hover {
    color: #63372c;
    cursor: pointer;
}

.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0;
}

.icons ul {
    padding: 0;
}

.icons li {
    display: inline;
    padding: 10px;
}

.icons li i {
    color: black;
    font-size: 20px;
}

.icons li i:hover {
    color: #465c69;
}

.terms{
    cursor: pointer;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999999999999;
}

.toast-capper {
    height: 5px;
}

.custom-toast {
    overflow: visible;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Home page */
.main-container {
    position: relative;
    justify-content: center;
}

#image-container {
    position: relative;
}

#image-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fcffff60;
    color:black;
}

#image-container .btn:hover {
    background-color: #465c6990;
    color: #fcffff;
  }

/* Plants page */

img.card-img-top {
    border-radius: 0;
}

/* Filtering navbar */
div.navbar {
    margin: 0 auto;
}

/* Allauth forms */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0.25rem;
    margin-top: 8px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #222;
    border-radius: 0.25rem;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin: 8px 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #424649;
    border-color: #424649;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Media Queries */

/* Small screens and smaller bootstrap 5 */
@media(max-width:776px) {
    .small-screen-hide {
        display: none;
    }
    .push-content{ 
        height: 80px;
    }
    #offers-block {
        padding-top:1.5em;
    }
    .small-center {
        text-align:center;
    }
    .col-4 > a:nth-child(1) > h2:nth-child(1) {
        font-size: large;
       }       
}

/* Medium screens and up bootstrap 5 */
@media(min-width:992px) {
    .medium-screen-hide {
        display: none;
    }
}

/* Large screens bootstrap 5 */
@media(min-width:992px) {
    .large-screen-hide {
        display: none;
    }
}
