{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row push-content">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    <!-- Image -->
    <div class="row main-container text-center">
        <!-- TODO: check that this renders -->
        <div id="image-container" class="col-12">
            <img class="img-fluid" src="{{ MEDIA_URL }}fallen-plant.jpg" alt="Fallen potted plant">
        </div>
    </div>
    <!-- Message -->
    <div class="text-center">
        <h3>Whoops...</h3>
        <p class="text-muted">Error: 500</p>
        <br>
        <p>Looks like we have a little problem. We're looking into what went wrong</p>
        <p>Please try finding your way back to 
            <a href="{% url 'home' %}">houseplant heaven<span class="material-symbols-outlined">
                    potted_plant
                </span></a>.
        </p>
    </div>
</div>

{% endblock %}
