{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Description -->
    <meta name="description" content="Let nature into your home or office space with Deilen, 
        the best provider for indoor plants. From succulents to spider plants, cacti to creeping 
        fig - Deilen can provide the herbage for all your botanical interiror design needs.">
    <!-- Keywords -->
    <meta name="keywords" content="house plants, houseplant, plants, plant shop, indoor plants, 
        office plants, tropical plants, succulents, hanging plants, indoor garden, cactus, orchid, 
        air purifying plants, vines">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">

    {% block corecss %}
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corben&family=Work+Sans&display=swap" rel="stylesheet">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <!-- Bootstrap 5 Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f82ec574c3.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Deilen {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row pt-lg-2 pb-lg-2 d-none d-lg-flex">
            <!-- Logo -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0">D e i l e n</h2>
                </a>
            </div>
            <!-- Search -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center small-screen-hide">
                <form method="GET" action="{% url 'plants' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-secondary rounded-0" type="text" name="q"
                            placeholder="Search for a plant...">
                        <div class="input-group-append">
                            <button class="form-control btn btn-dark border border-secondary rounded-0" type="submit">
                                <span class="icon">
                                    <i class="material-symbols-outlined">search</i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Links -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!-- Account -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="header-list-item text-center">
                                <div><i class="material-symbols-outlined">account_circle</i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Cart -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}cart-present font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="header-list-item text-center">
                                <div><i class="material-symbols-outlined">garden_cart</i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile navbar -->
        <div class="row large-screen-hide">
            <nav id="main-nav" class="navbar navbar-expand-lg navbar-light w-100">
                <!-- Logo -->
                <div class="col-4 my-auto ms-3 py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0">D e i l e n</h2>
                    </a>
                </div>
                <!-- Search -->
                <div class="col-5 my-auto py-1 py-lg-0 text-center">
                    <form>
                        <div class="input-group w-100">
                            <input class="form-control border border-secondary rounded-0" type="text" name="q"
                                placeholder="Search...">
                            <div class="input-group-append">
                                <button class="form-control btn btn-dark border border-secondary rounded-0"
                                    type="submit">
                                    <span class="icon">
                                        <i class="material-symbols-outlined">search</i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Burger button -->
                <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Offcanvas Navbar -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h2 id="offcanvasNavbarLabel" class="logo-font text-black my-0">D e i l e n</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Shop Now
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'plants' %}">All Plants</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    {% for type in all_types %}
                                    <li><a class="dropdown-item text-capitalize" href="{% url 'plants' %}?plant_type={{ type }}">{{ type }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                                    <i class="material-symbols-outlined">garden_cart</i>
                                    <span class="my-0">
                                        {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        £0.00
                                        {% endif %}
                                    </span>
                                    </a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row footer-background">
            <!-- Location -->
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p class="mt-3"><strong>Where we're based:</strong></p>
                <p>Glendwyn Gardens<br>Lakefield Road<br>Crickhowell<br>WALES<br>CF20 3EP</p>
            </div>
            <!-- Information -->
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p class="mt-3"><strong>Service</strong></p>
                <ul class="mt-3 footer-list">
                    <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#retRefModal">
                            <p class="mb-0" id="returns">Returns & Refunds</p>
                        </a></li>
                    <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#shippingModal">
                            <p id="shipping" class="mb-0">Delivery and Shipping</p>
                        </a></li>
                    <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#faqModal">
                            <p id="faqs" class="mb-0">FAQs</p>
                        </a></li>
                    <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#tcModal">
                            <p id="terms" class="mb-0">Terms and Conditions</p>
                        </a></li>
                    <li><a class="footer-text" href="https://www.privacypolicygenerator.info/live.php?token=jls2tjrSiZJavbdIrfIEzSZB7Ppfd0gh" target="_blank">Privacy
                            Policy</a></li>
                </ul>
            </div>
            <!-- Quick Links -->
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p class="mt-3"><strong>Quick Links</strong></p>
                <ul class="mt-3 footer-list">
                    <li><a class="footer-text" href="{% url 'plants' %}">Shop</a></li>
                    <li><a class="footer-text" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <!-- Social Links -->
            <div class="col-xs-4 col-sm-12 col-md-3 icons">
                <p class="mt-3 small-screen-hide"><strong>Follow Us</strong></p>
                <ul class="mt-3">
                    <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our facebook page"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our twitter page"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our instagram page"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
                            aria-label="Visit our youtube page"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <!-- Returns and Refunds -->
    <div class="modal fade" id="retRefModal" tabindex="-1" aria-labelledby="retRefModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="retRefModalLabel">Returns and Refunds</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div data-custom-class="body">
                        <p class="text-muted">Last updated: October 28, 2022</p>

                        <p>Thank you for your purchase. We hope you are
                            happy with your purchase. However, if you are not completely satisfied with your
                            purchase for any reason, you may return it to us for a full refund or an exchange.</p>
                        <p>Please see below for more information on our return policy.</p>
                        <hr>
                        <h5>Return Process</h5>
                        <p>All returns must be postmarked within foutreen (14) days of the purchase date.
                            All refunded items must be in new and unused condition, with all original tags and
                            labels attached.</p>
                        <h5>Returns Process</h5>
                        <p>To return an item, please email customer service at <a
                                href="mailto:deilen.example@gmail.com">deilen.example@gmail.com</a> to obtain a
                            Return Merchandise Authorisation (RMA) number. After receiving a RMA number, place the item
                            secuely in its original packaging, and mail your return to the following address:
                        </p>
                        <div class="container border border-secondary">
                            <ul class="list-unstyled">
                                <li>Deilen</li>
                                <li>Attn: Returns</li>
                                <li>RMA #</li>
                                <li>Glendwyn Gardens</li>
                                <li>Lakefield Road</li>
                                <li>Crickhowell</li>
                                <li>Wales</li>
                                <li>CF20 3EP</li>
                            </ul>
                        </div>
                        <p>You may also use the prepaid shipping label enclosed with your package. Return shipping
                            charges will be paid or reimbursed by us.</p>
                        <h5>Refunds</h5>
                        <p>Afterreceiving your return and inspecting the condition of your item, we will process your
                            return or exchange. Please allow at least two (2) days from the receipt of your item to
                            process your return or exchange. We will notify you by email when your return has been
                            processed.</p>
                        <h5>Exceptions</h5>
                        <p>For defective or damaged products, please contact us at the contact details below to arrange
                            a refund or exchange.</p>
                        <strong>Please Note</strong>
                        <ul>
                            <li>Sale items are FINAL SALE and cannot be returned.</li>
                        </ul>
                        <h5>Questions</h5>
                        <p>If you have any questions concerning our returns policy, please contact us at <a
                                href="mailto:deilen.example@gmail.com">deilen.example@gmail.com</a>.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delivery -->
    <div class="modal fade" id="shippingModal" tabindex="-1" aria-labelledby="shippingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="shippingModalLabel">Delivery and Shipping</h1>
                    <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#shippingModal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div data-custom-class="body">
                        <p class="text-muted">Last updated: October 28, 2022</p>

                        <p>This Shipping & Delivery Policy is part of our Terms and Conditions ("Terms") and should
                            therefore be read alongside our main
                            <a class="terms" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#tcModal">Terms and Conditions</a>.
                        </p>
                        <p>Please carefully review our Shipping & Delivery Policy when purchasing our products. This
                            policy will apply to any order you plave with us.</p>
                        <hr>
                        <h4><u>What are my shipping and delivery options?</u></h4>
                        <p>We offer delivery options to those in the UK. In some cases a third-party supplier may be
                            managing our inventory and will be responsible for delivering your products.</p>
                        <h5>Free Delivery</h5>
                        <p>We currently offer free standard delivery on orders over £666 due to our Halloween Offer*.
                        </p>
                        <h5>Expedited Delivery Fees</h5>
                        <p>We also offer delivery at a rate of 10% of the grand total of your order.</p>
                        <p>All times and dates given for delivery of the products are given in good faith but are
                            estimates only.</p>
                        <h5>Do you deliver Internationally?</h5>
                        <p>We do not offer any international shipping.</p>
                        <h5>Are there any other shipping restrictions?</h5>
                        <p>If you require your purchase to be delivered to a PO Box, first you must contact customer
                            service to determine if the delivery address is acceptable to recieve the products. If these
                            precautions are not taken and as a result delivery fails, Deilen will not be responsible or
                            liable to give a refund.</p>
                        <p>If you have questions about returns, please review our
                            <a class="terms" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#retRefModal">Returns and Refunds Policy</a>.
                        </p>
                        <h5>Questions</h5>
                        <p>If you have any questions concerning our shipping and delivery policy, please contact us at
                            <a href="mailto:deilen.example@gmail.com">deilen.example@gmail.com</a>.
                        </p>
                        <p><small>* Offer avaliable until 05/11/22.</small></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ -->
    <div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="faqModalLabel">FAQs</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Last updated: October 28, 2022</p>
                    <hr>
                    <div class="accordion" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Where are my plants from?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    All plants are grown and dispatched from our fufilment center in Crickhowell, Wales.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I cancel my order?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>We are unable to cancel your order once this has been placed and accepted by our
                                        fulfilment centre in Wales.</p>
                                    <p>Please note, perishable items such as plants are exempt from the right to cancel
                                        and
                                        we are unable to process refunds where you have ordered the wrong product or
                                        changed
                                        your mind.</p>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I amend my order?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Once orders have been accepted by the fulfilment centre we are unable to make any
                                    amendments.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Can I change my shipping address provided?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>We are unable to change the shipping address once this has been accepted by our
                                        fulfilment centre. Please ensure all details are correct before placing your
                                        order.</p>
                                    <p>Deilen cannot be held liable for any limitations of customers personal
                                        devices when using our website. This includes, but is not limited to: Device
                                        make or
                                        model, operating system, browser, browser extensions, the use of autofill and
                                        third-party payment processors such as Apple Pay or Paypal whereby details are
                                        automatically entered.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    My plant does not look like the one on the website
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>The product images provided are for illustrative purposes only and have been
                                        photographed under studio conditions.</p>
                                    <p>Please be aware that as our plants are natural products there will be slight
                                        variations between the product shown and the product shipped out which we have
                                        no
                                        control over.</p>
                                    <p>Please be aware that some of our fruit bearing plants may not have any or as many
                                        fruits as shown on the product page when it arrives but will grow as the plant
                                        is
                                        cared for. In some instances the fruit may become detached during transit but
                                        will
                                        not affect the health of the plant and will grow back.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5>Other Questions</h5>
                    <p>If you have any other questions, please contact us at
                        <a href="mailto:deilen.example@gmail.com">deilen.example@gmail.com</a> and we will do our best
                        to answer them.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Terms and Conditions -->
    <!-- TODO: populate -->
    <div class="modal fade" id="tcModal" tabindex="-1" aria-labelledby="tcModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tcModalLabel">Terms and Conditions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% block postloadjs %}
<script>
    let toastElList = [].slice.call(document.querySelectorAll('.toast'))
    let toastList = toastElList.map(function (toastEl) {
        let option = {
            animation: true,
            autohide: true,
            delay: 5000,
        }
        let bsToast = new bootstrap.Toast(toastEl, option)
        bsToast.show();
    })
</script>
{% endblock %}

</body>

</html>