{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Description -->
        <meta name="description" content="Let nature into your home or office space with Deilen, 
        the best provider for indoor plants. From succulents to spider plants, cacti to creeping 
        fig - Deilen can provide the herbage for all your botanical interiror design needs.">
        <!-- Keywords -->
        <meta name="keywords" content="house plants, houseplant, plants, plant shop, indoor plants, 
        office plants, tropical plants, succulents, hanging plants, indoor garden, cactus, orchid, 
        air purifying plants, vines">
        <!-- TODO: fix favicon -->
        <!-- Favicon. -->
          <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"> -->
          <!-- <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"> -->
          <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"> -->
          <!-- <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"> -->
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

	<link rel="icon" href="{% static '/favicon/favicon.ico' %}">

    {% block corecss %}
    <!-- TODO: fix favicon -->
        <!-- Favicon -->
          <!-- <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/> -->
        <!-- Bootstrap 5 CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
        <!-- Custom CSS -->
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Google Fonts -->

    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <!-- Bootstrap 5 Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- Google Icons -->
    <!-- Stripe -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Deilen {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top">
			<!-- Navbar -->
			<div id="site-navbar" class="row pt-lg-2 d-none d-lg-flex">
				<!-- Logo -->
				<div id="logo" class="col-12 col-lg-4 my-auto oy-1 py-lg-0 text-center text-lg-left">
					<a href="{% url 'home' %}" class="nav-link main-logo-link">
						<h2 class="logo-font my-0"><strong>Deilen</strong></h2>
					</a>
				</div>
			</div>
      </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>