{% extends "base.html" %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light w-100">
        {% include 'plants/includes/product-nav.html' %}
    </nav>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-capitalize">
                {% if current_plant_types %}
                    {% for c in current_plant_types %}
                        {{ c }} plants
                    {% endfor %}
                {% elif current_plant_difficulties %}
                    {% for c in current_plant_difficulties %}
                        {{ c.name }} to care plants
                    {% endfor %}
                {% else %}
                    All Houseplants
                {% endif %}
            </h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for plant in plants %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if plant.image %}
                                <a href="{% url 'plant_detail' plant.id %}">
                                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                        <img class="card-img-top img-fluid hover-zoom" src="{{ plant.image.url }}"
                                            alt="{{ plant.name }}">
                                    </div>
                                </a>
                            {% else %}
                            <a href="{% url 'plant_detail' plant.id %}">
                                <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                    <img class="card-img-top img-fluid hover-zoom" src="{{ MEDIA_URL }}no-plant-img-avaliable.png"
                                        alt="{{ plant.name }}">
                                </div>
                            </a>
                            {% endif %}
                            <div class="unstyled-link">
                                <a href="{% url 'plant_detail' plant.id %}">
                                    <div class="card-body pb-0">
                                        <p class="text-dark mb-0 unstyled">{{ plant.name }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left">£{{ plant.price }}</p>
                                        <!-- Type -->
                                        {% if plant.plant_type %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted"
                                                    href="{% url 'plants' %}?plant_type={{ plant.plant_type.name }}">
                                                    {% if plant.plant_type.name == "succulent" %}
                                                    <i class="material-symbols-outlined">sunny</i>
                                                    {% elif plant.plant_type.name == "hanging" %}
                                                    <i class="material-symbols-outlined">checkroom</i>
                                                    {% elif plant.plant_type.name == "flowering" %}
                                                    <i class="material-symbols-outlined">local_florist</i>
                                                    {% elif plant.plant_type.name == "large" %}
                                                    <i class="material-symbols-outlined">nature</i>
                                                    {% elif plant.plant_type.name == "air_purifier" %}
                                                    <i class="material-symbols-outlined">air</i>
                                                    {% else %}
                                                    <i class="material-symbols-outlined">potted_plant</i>
                                                    {% endif %}
                                                    {{ plant.plant_type }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        <!-- Difficulty -->
                                        {% if plant.plant_difficulty %}
                                            <p class="small text-muted mt-1 mb-0">
                                                Care Difficulty: 
                                                <a class="text-muted"
                                                    href="{% url 'plants' %}?plant_difficulty={{ plant.plant_difficulty.name }}">
                                                    {% if plant.plant_difficulty.name == "easy" %}
                                                        <i class="material-symbols-outlined">sentiment_very_satisfied</i>
                                                    {% elif plant.plant_difficulty.name == "medium" %}
                                                        <i class="material-symbols-outlined">sentiment_satisfied</i>
                                                    {% elif plant.plant_difficulty.name == "hard" %}
                                                        <i class="material-symbols-outlined">sentiment_neutral</i>
                                                    {% else %}
                                                        <i class="material-symbols-outlined"><span class="material-symbols-outlined">
                                                            question_mark
                                                            </span></i>
                                                    {% endif %}
                                                    {{ plant.plant_difficulty.name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}